    <!-- Barra Lateral -->
    
    {% load static %}
    
    <div class="sidebar">
        <div class="sidebar-principal">
            <a href="{% url 'GenerarReporte' %}" class="{% if current_page == 'generar_reportes' %}active{% endif %}">
                <img src="{% static 'images/reporte.png' %}" alt="Reporte_icon">
                <span>Generar reporte</span>
            </a>
            <a href="{% url 'RegistrarCongreso' %}" class="{% if current_page == 'registrar_congreso' %}active{% endif %}">
                <img src="{% static 'images/congreso_icon.png' %}" alt="Congreso_icon">
                <span>Congreso</span>
            </a>
            <a href="{% url 'RegistrarUbicaciones' %}" id="registrarUbicaciones" class="sidebar-ubicaciones {% if current_page == 'registrar_ubicaciones' %}active{% endif %} nav">
                <img src="{% static 'images/ubicacion-icon.png' %}" alt="Ubicacion_icon">
                <span>Registrar Ubicaciones</span>
            </a>
            <a href="{% url 'RegistrarPonentes' %}" id="registrarPonentes" class="{% if current_page == 'registrar_ponentes' %}active{% endif %} nav">
                <img src="{% static 'images/ponentes_icon.png' %}" alt="Ponentes_icon">
                <span>Registrar ponentes</span>
            </a>
            <a href="{% url 'RegistrarPonencia' %}" id="registrarPonencias" class="{% if current_page == 'registrar_ponencia' %}active{% endif %} nav">
                <img src="{% static 'images/ponencia_icon.png' %}" alt="Ponencia_icon">
                <span>Registrar ponencia</span>
            </a>
            <a href="{% url 'RegistrarBloques' %}" id="registrarBloques" class="{% if current_page == 'registrar_bloques' %}active{% endif %} nav">
                <img src="{% static 'images/bloques_icon.png' %}" alt="Bloques_icon">
                <span>Registrar bloques</span>
            </a>
            <a href="{% url 'RegistrarColaboradores' %}" id="registrarColaboradores" class="sidebar-colaborador {% if current_page == 'registrar_colaboradores' %}active{% endif %} nav">
                <img src="{% static 'images/colaboradores_icon.png' %}" alt="Ponencia_icon">
                <span>Registrar Colaboradores</span>
            </a>
            <a href="{% url 'RegistrarBloqueColaborador' %}" id="registrarBloqueColaborador" class="sidebar-colaborador {% if current_page == 'registrar_bloques_colaboradores' %}active{% endif %} nav">
                <img src="{% static 'images/bloque-colaborador_icon.png' %}" alt="bloque del colaborador">
                <span>Asociar bloques con Colaborador</span>
            </a>
            <a href="{% url 'ImportarDatos' %}" class="{% if current_page == 'importar_datos' %}active{% endif %} nav">
                <img src="{% static 'images/datos_icon.png' %}" alt="importar-icon">
                <span>Importar y Generar datos</span>
            </a>
        </div>
        <a href="{% url 'CerrarSesion' %}" class="cerrar-sesion">
            <img src="{% static 'images/cerrarSesion.png' %}" alt="Cerrar sesión">
            <span>Cerrar sesión</span>
        </a>

    </div>