/* Estilo del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.main-container {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 310px);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado alto */
    gap: 0.7em;
}

/* Estilo del contenedor de la tabla */
.table-container {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ajusta el ancho del recuadro */
    max-width: auto; /* Máximo ancho del recuadro */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    text-align: center;
}

.table-container-scroll{
    max-height: 215px;
    overflow-y: auto;
}

.table-container-scroll::-webkit-scrollbar{
    display: none;
}

.table-container table {
    width: 98%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/*Estilos para el check-edit*/
.table-container .check-td{
    padding: 0;
    border: none;
    max-width: 20px;
}

.check-td button{
    border: none;
    background: none;
}

.check-td button:hover{
    cursor: pointer;
}

.check-edit:hover{
    opacity: 0.5;
}

.check-edit{
    width: 30px;
}

.table-container th {
    background-color: #f4f4f9;
    text-align: center;
}

/* Estilo del contenedor principal */
.content-fondo{
    width: 55%;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 2em;
}

.main-content {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 84%; /* Ajusta el ancho del recuadro */
}

h2{
    text-align: center;
    color: rgb(37, 62, 133);
}

/* Estilo del formulario */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario */
}

/* Estilo de las etiquetas del formulario */
.register-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
    text-align: left; /* Alinea las etiquetas a la izquierda */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 100%; /* Máximo ancho disponible */
}

.register-form label::after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

/* Estilo de los campos de entrada del formulario */
.register-form input,
.register-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Ajusta el ancho de los campos de entrada */
    
    font-size: 16px;
}

/*Flex al nombre y apellido y correo y password en una sola columna*/
.flex-nombre-apellido{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-nombres {
    width: 85%;
}

.flex-correo-password{
    margin-top: 1em;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-bottom: 1em;
}

.register-form .label__nombre,
.register-form .label__apellido,
.register-form .label__correo,
.register-form .label__password{
    margin: 0;
    padding: 0;
}

.register-form .input__nombre,
.register-form .input__apellido,
.register-form .input__correo,
.register-form .input__password{
    margin: 0;
    margin-top: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.register-form .input__correo {
    width: 256px;
}

.register-form .input__nombre {
    width: 256px;
}

.flex-correo-password .group-correo{
    width: 56%;
}

/*Flex para el campo select*/
.flex-select{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.group-usuario {
    max-width: 256px;
}

.form-group select {
    width: 100%;
}

/*flex para los bloques de colaboradores*/
.flex-bloques-selected{
    display: grid;
    max-height: 180px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 10px;
    overflow-y: auto; /* Para manejar el desbordamiento vertical */
    width: 100%;
}

.bloques-container {
    display: contents; /* Permite que los elementos secundarios participen en el diseño de la cuadrícula */
}

.form-bloque input,
.form-bloque label {
    margin: 0.5em;
}

/* Ocultar el checkbox original */
.form-bloque input[type="checkbox"] {
    display: none;
}

/* Estilo personalizado para el checkbox */
.form-bloque label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    color: #000;
    width: 84%;
    margin-left: 0;
}

/* Estilo para el pseudo-elemento del checkbox */
.form-bloque label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo al hacer hover en el label */
.form-bloque input[type="checkbox"]:hover + label::before {
    border-color: rgb(32, 119, 43);
}

/* Estilo cuando el checkbox está seleccionado */
.form-bloque input[type="checkbox"]:checked + label::before {
    background-color: #67c967;
    border-color: #358a35;
}

/* Estilo para el checkmark */
.form-bloque input[type="checkbox"]:checked + label::after {
    content: '\2713'; /* Unicode del checkmark */
    position: absolute;
    left: 4px;
    top: -1px;
    font-size: 15px;
    color: #fff;
}

.bloques-active{
    display: none; /*table-cell para aparecer*/
}

/* Estilo del contenedor de botones */
.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

/* Estilo de los botones */
.register-button, 
.delete-button, 
.edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 160px;
}

/* Estilo específico del botón de registro */
.register-button {
    background-color: #007bff;
}

/* Estilo específico del botón de eliminación */
.delete-button {
    background-color: #dc3545;
}

/* Estilo específico del botón de edición */
.edit-button {
    background-color: #28a745;
}

/* Efecto hover para los botones */
.register-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

.edit-button:hover {
    background-color: #218838;
}

/* Estilo de los mensajes */
.message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Ajusta el ancho del mensaje */
    max-width: 600px; /* Maximo ancho del mensaje */
    box-sizing: border-box; /* Incluye padding y border en el tamano total */
}

/* Estilo específico para mensajes de éxito */
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo específico para mensajes de error */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.warning {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@media (max-width: 1500px) {
    .button-container {
        gap: 1em;
    }
}