body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: 290px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.fileName {
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    gap: 1em;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 30%;
}

.button-1 {
    background-color: #007bff;
}

.button-2 {
    background-color: #28a745;
}

/* Efecto hover para los botones */
.button-1:hover {
    background-color: #0056b3;
}

.button-2:hover {
    background-color: #218838;
}

/* Estilo de los mensajes */
.message {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Ajusta el ancho del mensaje */
    max-width: 600px; /* Maximo ancho del mensaje */
    box-sizing: border-box; /* Incluye padding y border en el tamano total */
}

/* Estilo específico para mensajes de éxito */
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo específico para mensajes de error */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}