/* archivo: css/participantes.css */
@font-face {
    font-family: 'NicoMoji';
    src: url('/static/fonts/NicoMoji-Regular.ttf') format('truetype');
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.top-section {
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    text-align: center;
    padding: 20px 10px;
    position: fixed;
    width: 98.9%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 40%;
}

.top-section img.top-image-right,
.top-section img.top-image-left,
.top-section img.top-image2 {
    position: absolute;
}

.top-section img.top-image-right {
    width: 10%;
    top: 10px;
    right: 10px;
}

.top-section img.top-image-left {
    width: 20%;
    top: 10px;
    left: 10px;
}

.top-section img.top-image2 {
    width: 18%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.top-section img.top-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 140px;
}

.greeting {
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
}

.middle-section-scroll{
    margin-top: 21%;
    overflow-y: auto;
}

.middle-section {
    padding: 13px;
    text-align: center;
}

.attendance-group {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: 20px auto 0;

    .attendance-text {
        text-align: left;
    }

    .attendance-count {
        width: 60%;
    }
}

.attendance-text {
    font-family: 'NicoMoji', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.attendance-count,
.student-code {
    font-size: 24px;
    width: 80%;
    max-width: 280px;
    color: #aaa;
    margin: 10px auto;
    padding: 10px;
    background: #e0e0e0;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.QR-code {
    text-align: center;
    margin: 0;
    height: 37%;
    margin-bottom: 2em;
}

.QR-code img {
    width: 150px;
    height: 150px;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    font-family: 'NicoMoji', sans-serif;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.button {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.button img {
    width: 35px;
    height: 45px;
    margin-bottom: 5px;
}

.button svg {
    width: 45px;
    height: 50px;
}

.button.exit-button {
    color: #A52019;
}

.left-button a,
.center-button a,
.right-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Para pantallas más pequeñas, como tabletas */
@media (max-width: 768px) {
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: 0;
    }

    .top-section{
        height: 35%;
        width: 97.7%;
    }

    .top-section img.top-image-right{
        width: 20%;
        margin-right: 0.5em;
    }
    .top-section img.top-image-left {
        width: 35%;
    }

    .top-section img.top-image2 {
        width: 270px;
        margin-top: 2em;
    }

    .top-section img.top-image {
        width: 120px;
        height: 120px;
        margin-top: 160px;
    }

    .greeting {
        font-size: 20px;
    }

    .attendance-count,
    .student-code {
        width: 90%;
    }

    .middle-section-scroll{
        margin-top: 363px;
        overflow-y: auto;
    }

    .QR-code img {
        width: 190px;
        height: 190px;
    }

    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
    }
    
    .button {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        text-align: center;
        display: block;
    }
    
    .button img {
        width: 35px;
        height: 45px;
        margin-bottom: 5px;
    }
}

/* Para pantallas muy pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
    .container {
        margin: 0px;
    }

    .top-section{
        width: 95.5%;
        height: 41%;
    }

    .top-section img.top-image-right{
        width: 20%;
    }

    .top-section img.top-image-left{
        width: 40%;
    }

    .top-section img.top-image2 {
        width: 270px;
    }

    .top-section img.top-image {
        width: 100px;
        height: 100px;
        margin-top: 165px;
    }

    .greeting {
        font-size: 22px;
    }

    .attendance-count,
    .student-code {
        width: 100%;
    }

    .middle-section-scroll{
        margin-top: 100%;
        overflow-y: auto;
    }

    .QR-code img {
        width: 280px;
        height: 280px;
    }

    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
    }
    
    .button {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        text-align: center;
        display: block;
    }
    
    .button img {
        width: 35px;
        height: 45px;
        margin-bottom: 5px;
    }
}

@media (max-width: 800px) {
    .middle-section-scroll{
        margin-top: 92%;
        overflow-y: auto;
    }
}

@media (max-height: 880px) {
    .top-section{
        width: 95.5%;
        height: 42%;
    }
}

@media (max-height: 804px) {
    .top-section{
        width: 95.5%;
        height: 43%;
    }
    .middle-section-scroll {
        margin-top: 96%;
        overflow-y: auto;
    }
}

@media (max-height: 780px) {
    .top-section{
        width: 95.5%;
        height: 45%;
    }
}