/* diseñoRegistrarPonente.css */

/* Estilo del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Asegura que el contenido principal este al inicio del contenedor */
    flex-direction: column;
}

h2 {
    color: rgb(37, 62, 133);
    text-align: center;
}

.h2-Contenido-actual{
    margin-bottom: 0;
}

/* Estilo del contenedor principal */
.flex-main {
    display: flex;
    flex-direction: column;
}
.main-content {
    margin: 20px 260px 20px 500px; /* Centra el contenido horizontalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ajusta el ancho del recuadro */
    max-width: 750px; /* Maximo ancho del recuadro */
    box-sizing: border-box; /* Incluye padding y border en el tamano total */
}

/* Estilo del formulario */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario */
}

/* Estilo de las etiquetas del formulario */
.register-form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
    text-align: left; /* Alinea las etiquetas a la izquierda */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 60%; /* Maximo ancho disponible */
}

.register-form label::after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

/* Estilo de los campos de entrada del formulario */
.register-form input,
.register-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Ajusta el ancho de los campos de entrada */
    max-width: 60%; /* Maximo ancho disponible */
    box-sizing: border-box; /* Incluye padding y border en el tamano total */
    font-size: 16px;
}

/* Estilo del contenedor de botones */
.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 60%;
    margin-top: 20px;
    gap: 1em;
}

/* Estilo de los botones */
.register-button, 
.delete-button, 
.edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

/* Estilo especifico del boton de registro */
.register-button {
    background-color: #007bff;
}

/* Estilo especifico del boton de eliminacion */
.delete-button {
    background-color: #dc3545;
}

/* Estilo especifico del boton de edicion */
.edit-button {
    background-color: #28a745;
}

/* Efecto hover para los botones */
.register-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

.edit-button:hover {
    background-color: #218838;
}

/* Estilo de los mensajes */
.message {
    margin: 15px 260px 0 575px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%; /* Ajusta el ancho del mensaje */
    max-width: 600px; /* Maximo ancho del mensaje */
    box-sizing: border-box; /* Incluye padding y border en el tamano total */
}

/* Estilo especifico para mensajes de exito */
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Estilo especifico para mensajes de error */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Estilo del contenedor de la tabla */
.table-container {
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}
.table-container::-webkit-scrollbar {
    display: none;
}

/* Estilo de la tabla */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th, .data-table td {
    border: 2px solid #ddd; /* Ajusta el grosor de las lineas de las celdas */
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/*Estilos para el check-edit*/
.table-container .check-td{
    padding: 0;
    border: none;
    max-width: 20px;
}

.check-td button{
    border: none;
    background: none;
}

.check-td button:hover{
    cursor: pointer;
}

.check-edit{
    width: 30px;
}

.check-edit:hover{
    opacity: 0.5;
}

@media(max-width: 1500px){
    .main-content {
        margin: 30px 220px 20px 450px; /* Centra el contenido horizontalmente */
    }
}
