body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.card-scroll {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    overflow-y: auto;
    width: 97.5%;
    align-items: center;
}

.card {
    background-color: #b3e5fc;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 50%;
    box-sizing: border-box;
}

.card-header {
    background-color: #b3e5fc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-header .day {
    font-size: 14px;
}

.card-header .time {
    font-size: 14px;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.speaker-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.speaker-info h3 {
    margin: 0;
    font-size: 18px;
}

.speaker-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.location {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.location-icon {
    margin-right: 5px;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.button {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-align: center;
    display: block;
}

.button img {
    width: 35px;
    height: 45px;
    margin-bottom: 5px;
}

.left-button a,
.center-button a,
.right-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
    body{
        width: 100%;
    }
    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
        width: 100%;
        max-width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: relative;
        z-index: 1000;
    }
    .card-scroll {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 1em;
        overflow-y: scroll;
        width: 93%;
        align-items: center;
    }
    
    .card {
        background-color: #b3e5fc;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        width: 100%;
        box-sizing: border-box;
    }
}