@font-face {
    font-family: 'NicoMoji';
    src: url('/static/fonts/NicoMoji-Regular.ttf') format('truetype');
}

body {
    font-family: 'NicoMoji', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
}

h1 {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 36px;
}

.card-scroll {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    overflow-y: auto;
    width: 97.5%;
    align-items: center;
}

.card {
    position: relative;
    background: linear-gradient(90deg, rgba(16,172,193,1) 0%, rgba(6,201,91,1) 100%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 50%;
    box-sizing: border-box;
}

.card-header {
    position: inherit;
    background-color: #037F8C;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    z-index: 2;
}

.card-header .day {
    font-size: 14px;
}

.card-header .time {
    font-size: 14px;
}

.card-content {
    color: #38344D;
    width: 70%;
    padding: 20px;
    margin-bottom: 75px;
}

.speaker-image {
    position: absolute;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    right: 15px;
    bottom: 0;
    z-index: 1;
}

.speaker-info h3 {
    margin: 0;
    font-size: 22px;
}

.speaker-info p {
    margin: 5px 0;
    font-size: 12px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.location-icon {
    margin-right: 5px;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.button {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.button img {
    width: 35px;
    height: 45px;
    margin-bottom: 5px;
}

.button svg {
    width: 45px;
    height: 50px;
}

.button.exit-button {
    color: #A52019;
}

.left-button a,
.center-button a,
.right-button a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
    body{
        width: 100%;
        color: #38344D;
    }
    .bottom-section {
        display: flex;
        justify-content: space-around;
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 10px 0;
        width: 100%;
        max-width: 500px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
    .card-scroll {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 1em;
        overflow-y: scroll;
        width: 93%;
        align-items: center;
    }
    
    .card {
        background: linear-gradient(90deg, rgba(16,172,193,1) 0%, rgba(6,201,91,1) 100%);
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        width: 100%;
        box-sizing: border-box;
    }
}