{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ponencias.css' %}">
    <title>Ponencias</title>
</head>
<body>
    <h1>PONENCIAS</h1>

    <div class="card-scroll">
        {% for ponencia in ponencias %}
        <div class="card">
            <div class="card-header">
                <span class="day">DIA 1 - 03/10</span>
                <span class="time">09:30 - 10:30</span>
            </div>
            <div class="card-content">
                <img src="{% static 'images/perfilponente.png' %}" alt="Speaker Image" class="speaker-image">
                <div class="speaker-info">
                    <h3>{{ponencia.idponente}}</h3>
                    <p>{{ponencia.nombre}}</p>
                    <div class="location">
                        <span class="location-icon">📍</span>
                        <span>Auditorio William Morris</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bottom-section">
        <div class="left-button">
            <a class="button profile-button" href="{% url 'Participante' codparticipante %}l">
                <img src="{% static 'images/perfil.png' %}" alt="Perfil Icon">Perfil
            </a>
        </div>
        <div class="center-button">
            <a class="button presentations-button">
                <img src="{% static 'images/ponencias.png' %}" alt="Ponencias Icon">Ponencias
            </a>
        </div>
        <div class="right-button">
            <a href="{% url 'Login' %}" class="button exit-button" href="#">
                <img src="{% static 'images/opened-door-aperture.png' %}" alt="Exit Icon">Salir
            </a>
        </div>
    </div>
</body>
</html>
