{% load static %}
{% load custom_filters %}
{% load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reportes - Interfaz de Administración</title>
    <link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/paginasAdmin.css' %}">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    <!-- Barra Lateral -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="main-content-reporte main">
        <h2>Generar Reporte</h2>
        <div class="table-container">
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Código Estudiante</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Universidad</th>
                        <th>Congreso</th>
                        <th>Hora Registrada</th>
                        <th>Hora Inicio del Bloque</th>
                        <th>Hora Fin del Bloque</th>
                        <th>Día</th>
                        <th>Dirección</th>
                        <th>Ponencia</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ejemplo de fila de datos -->
                    {% for participante in listaAsistencia %}
                    <tr>
                        <td>{{participante.codparticipante.codparticipante}}</td>
                        <td>{{participante.codparticipante.nombre}}</td>
                        <td>{{participante.codparticipante.apellido}}</td>
                        <td>{{participante.iduniversidad.nombre}}</td>
                        <td>{{participante.idcongreso.nombre}}</td>
                        <td>{{participante.hora|time:"H"}}</td>
                        <td>{{participante.idbloque.horainicio}}</td>
                        <td>{{participante.idbloque.horafin}}</td>
                        <td>{{participante.fecha|format_fecha}}</td>
                        <td>{{participante.idbloque.direccion}}</td>
                        <td>{{participante.idponencia.nombre}}</td>
                    </tr>
                    {% endfor %}
                    <!-- Agregar más filas según sea necesario -->
                </tbody>
            </table>
        </div>
        <div class="download-button-container">
            <button class="download-button">Descargar</button>
        </div>
    </main>
    <style>
        .main {
            max-width: 1270px;
        }
    </style>
</body>
{%for }
</html>
