{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar y generar datos</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/importar_datos.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}

    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="main-content main">
        {% if messages %}
            {% for message in messages %}
                <div id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2>Importar datos de Participantes</h2>
        <form action="{% url 'ImportarDatos' pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="no-mostrar">
                <div class="button-container">
                    <button id="uploadButton" class="button button-1">Cargar archivos</button>
                    <input type="file" name="file" id="fileInput" accept=".csv, .xls, .xlsx" style="display: none;" required>
                    <button type="submit" class="button button-2" id="upload_files">Subir archivos</button>
                </div>
                <p id="fileName" class="fileName"></p>
            </div>

        </form>
        
        {% if archivo_subido %}
        <form action="{% url 'GenerarQRCode' pk %}" method="POST">
            {% csrf_token %}
            <h2>Generar código QR</h2>
            <div class="button-container">
                <button type="submit" class="button button-1" id="generar_qr">Generar</button>
            </div>
        </form>
        {% endif %}
    </main>
</body>
<script src="{% static 'js/importar_archivo.js' %}"></script>
<script src="{% static 'js/messageTime.js' %}"></script>
</html>