{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/ponente.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
    <title>Registrar Ponente</title>
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    
    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <div class="flex-main">
        {% if messages %}
            {% for message in messages %}
                <div id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <main class="main-content">
            <!-- Tabla de Congresos -->
            <h2 class="h2-Contenido-actual">Contenido Actual</h2>
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ponente in ponentes %}
                        <tr>
                            <td>{{ponente.nombre}}</td>
                            <td>{{ponente.apellido}}</td>
                            <td>{{ponente.estado}}</td>
                            <td class="check-td">
                                <button type="button" class="fill-btn"
                                    data-id="{{ponente.idponente}}"
                                    data-nombre="{{ponente.nombre}}"
                                    data-apellido="{{ponente.apellido}}"
                                    data-estado="{{ponente.estado}}">
                                    <img class="check-edit" src="{% static 'images/check-edit.png' %}" alt="check">
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Añade más filas según sea necesario -->
                    </tbody>
                </table>
            </div>

            <h2>Registrar Ponente</h2>
            <form class="register-form" method="POST" action="{% url 'RegistrarPonentes' %}">
                {% csrf_token %}
                <input type="hidden" name="id" id="ponenteid">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">

                <label for="apellido">Apellidos</label>
                <input type="text" id="apellido" name="apellido" required onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">

                <div class="button-container">
                    <button type="submit" id="register-button" name="action" value="register" class="register-button">Registrar</button>
                    <button type="submit" id="delete-button" name="action" value="delete" class="delete-button">Eliminar</button>
                    <button type="submit" id="edit-button" name="action"  value="edit" class="edit-button">Editar</button>
                </div>
            </form>
        </main>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const buttons = document.querySelectorAll('.fill-btn');
        var estado;

        buttons.forEach(button => {
            button.addEventListener('click', (event) => {
                const idponente = event.currentTarget.getAttribute('data-id');
                const nombre = event.currentTarget.getAttribute('data-nombre');
                const apellido = event.currentTarget.getAttribute('data-apellido');
                estado = event.currentTarget.getAttribute('data-estado');

                if (estado === "NO ACTIVO") {
                    document.getElementById('delete-button').innerText = "Activar";
                    document.getElementById('delete-button').value = "activate";
                } else {
                    document.getElementById('delete-button').innerText = "Eliminar";
                    document.getElementById('delete-button').value = "delete";
                }

                document.getElementById('ponenteid').value = idponente;
                document.getElementById('nombre').value = nombre;
                document.getElementById('apellido').value = apellido;
            });
        });
    });

    // Ocultar el mensaje despues de 3 segundos
    setTimeout(function() {
        var message = document.getElementById('message');
        if (message) {
            message.style.display = 'none';
        }
    }, 3000); // 3000 milisegundos = 3 segundos
</script>
</html>
