{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Universidades - Interfaz de Administración</title>
    <link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/paginasAdmin.css' %}">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    <!-- Barra Lateral -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="main-content">
        <h2>Registrar Universidades</h2>
        <form class="register-form">
            <label for="nombreU">Nombre de la Universidad:</label>
            <input type="text" id="nombreU" name="nombreU" required>

            <label for="RUC">RUC:</label>
            <input type="text" id="RUC" name="RUC" required>

            <div class="button-container">
                <button type="submit" class="register-button">Registrar</button>
                <button type="button" class="delete-button">Eliminar</button>
            </div>
        </form>
    </main>
</body>
</html>
