{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/ponente.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
    <title>Registrar Ponente</title>
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    
    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <div class="flex-main">
        {% if messages %}
            {% for message in messages %}
                <div id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <main class="main-content">
            <!-- Tabla de Congresos -->
            <h2 class="h2-Contenido-actual">Contenido Actual</h2>
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ponente in ponentes %}
                        <tr>
                            <td>{{ponente.idponente.nombres}}</td>
                            <td>{{ponente.idponente.apellidos}}</td>
                            <td>{{ponente.idponente.estado}}</td>
                            <td class="check-td">
                                <button type="button" class="fill-btn"
                                    data-id="{{ponente.idponente.idponente}}"
                                    data-nombre="{{ponente.idponente.nombres}}"
                                    data-apellido="{{ponente.idponente.apellidos}}"
                                    data-estado="{{ponente.idponente.estado}}">
                                    <img class="check-edit" src="{% static 'images/check-edit.png' %}" alt="check">
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Añade más filas según sea necesario -->
                    </tbody>
                </table>
            </div>

            <h2>Registrar Ponente</h2>
            <form class="register-form" method="POST" action="{% url 'RegistrarPonentes' pk %}">
                {% csrf_token %}

                <input type="hidden" name="id" id="ponenteid" class="function">
                <label for="nombre" class="function">Nombre</label>
                <input type="text" class="function" id="nombre" name="nombres" required onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">

                <label for="apellido" class="function">Apellidos</label>
                <input type="text" class="function" id="apellido" name="apellidos" required onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">

                <div class="button-container function">
                    <button type="submit" id="register-button" name="action" value="register" class="register-button">Registrar</button>
                    <button type="submit" id="delete-button" name="action" value="delete" class="delete-button">Desactivar</button>
                    <button type="submit" id="edit-button" name="action"  value="edit" class="edit-button">Actualizar</button>
                </div>

            </form>
        </main>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const buttons = document.querySelectorAll('.fill-btn');
        var estado;

        //Botones desactivados Desactivar y Eliminar 
        const buttonDesactivado = document.getElementById('delete-button');
        const buttonActualizar = document.getElementById('edit-button');
        const buttonRegister = document.getElementById('register-button');

        buttonActualizar.style.display = 'none';
        buttonDesactivado.style.display='none';

        buttons.forEach(button => {
            button.addEventListener('click', (event) => {
                //Agregando los botones
                buttonActualizar.style.display='block';
                buttonDesactivado.style.display='block';
                buttonRegister.style.display = 'none';

                //Extrayendo datos
                const idponente = event.currentTarget.getAttribute('data-id');
                const nombre = event.currentTarget.getAttribute('data-nombre');
                const apellido = event.currentTarget.getAttribute('data-apellido');
                estado = event.currentTarget.getAttribute('data-estado');

                if (estado === "NO ACTIVO") {
                    document.getElementById('delete-button').innerText = "Activar";
                    document.getElementById('delete-button').value = "activate";
                } else {
                    document.getElementById('delete-button').innerText = "Desactivar";
                    document.getElementById('delete-button').value = "delete";
                }

                document.getElementById('ponenteid').value = idponente;
                document.getElementById('nombre').value = nombre;
                document.getElementById('apellido').value = apellido;
            });
        });
    });
</script>
<script src="{% static 'js/messageTime.js' %}"></script>
</html>
