{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Bloques - Interfaz de Administración</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bloques.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    
    <!-- Sidebar -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <div class="main-container" id="main">

        <!-- Tabla de contenido -->
        <div class="table-container">
            <h2>Contenido Actual</h2>
            <div class="table-container-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Ponencia</th>
                            <th>Día</th>
                            <th>Inicia</th>
                            <th>Finaliza</th>
                            <th>Dirección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se deberían cargar dinámicamente los bloques registrados -->
                        <tr>
                            <td>Introducción a la chamba</td>
                            <td>Lunes 12 de Agosto</td>
                            <td>11:15 am</td>
                            <td>12:30 pm</td>
                            <td>Auditorio Santa María</td>
                            <td class="check-td">
                                <button type="button">
                                    <img class="check-edit" src="{% static 'images/check-edit.png' %}" alt="check">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="content-fondo">
            <h2>Registrar Bloques</h2>
            <main class="main-content">
                <form class="register-form reg-bloques" method="POST" action="{% url 'RegistrarBloques' %}">
                    <label for="ponencia">Ponencia</label>
                    <select id="ponencia" name="ponencia" required style="margin-bottom: 0.2em;">
                        <option value="" selected disabled>Seleccionar una ponencia</option>
                        {% for ponencia in ponencias %}
                            <option value="{{ponencia.idponencia}}">{{ponencia.nombre}}</option>
                        {% endfor %}
                    </select>
    
                    <label for="dia">Día</label>
                    <select id="dia" name="dia" required>
                        <option value="" selected disabled>Seleccionar el dia</option>
                        {% for dia in dias %}
                        <option value="{{dia.iddia}}">{{dia}}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="flex-hora">
                        <div class="form-group">
                            <label for="hora_inicio" class="label__hora-inicio">Inicia</label>
                            <input type="time" class="input__hora-inicio" name="hora_inicio" required>
                        </div>

                        <div class="form-group">
                            <label for="hora_fin" class="label__hora-fin">Finaliza</label>
                            <input type="time" class="input__hora-fin" name="hora_fin" required>
                        </div>
                    </div>
                    
                    <label for="direccion">Ubicación</label>
                    <select id="ubicacion" name="ubicacion" required>
                        <option value="" selected disabled>Seleccionar la ubicación</option>
                        {% for ubicacion in ubicaciones %}
                            <option value="{{ubicacion.idubicacion}}">{{ubicacion}}</option>
                        {% endfor %}
                    </select>

                    <div class="button-container">
                        <button type="submit" class="register-button">Registrar</button>
                        <button type="button" class="edit-button">Editar</button>
                        <button type="button" class="delete-button">Eliminar</button>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <script>
        // Ocultar el mensaje después de 3 segundos
        setTimeout(function() {
            var message = document.getElementById('message');
            var mainContent = document.getElementById('main');
            if (message) {
                message.style.display = 'none';
                mainContent.style.gap = '2em';
            }
        }, 3000); // 3000 milisegundos = 3 segundos
    </script>
</body>
</html>