{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Bloques - Interfaz de Administración</title>
    <link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/paginasAdmin.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}
    <!-- Barra Lateral -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="main-content main-bloques">
        <h2>Registrar Bloques</h2>
        <form class="register-form reg-bloques">
            <label for="ponencia">Ponencia</label>
            <select id="ponencia" name="ponencia" required>
                <!-- Aquí se deberían cargar dinámicamente las ponencias registradas -->
                <option value="1">Ponencia 1</option>
                <option value="2">Ponencia 2</option>
                <option value="3">Ponencia 3</option>
                <!-- Más opciones según las ponencias registradas -->
            </select>

            <label for="dia">Día</label>
            <input type="text" id="dia" name="dia" required>

            <label for="hora_inicio">Hora de Inicio</label>
            <input type="time" id="hora_inicio" name="hora_inicio" required>

            <label for="hora_fin">Hora de Fin</label>
            <input type="time" id="hora_fin" name="hora_fin" required>

            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" name="direccion" required>

            <div class="button-container">
                <button type="submit" class="register-button">Registrar</button>
                <button type="button" class="delete-button">Eliminar</button>
            </div>
        </form>
    </main>
</body>
<style>
    #ponencia{
        width: 100%;
    }

    .main-bloques{
        margin-top: 1.5%;
    }
</style>
</html>
