{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/participantes.css' %}">
    <link rel="icon" href="{% static 'images/JINIS_icon.png' %}" type="image/x-icon">
    <title>Perfil del Participante</title>
</head>
<body>
    <div class="container">
        <div class="top-section">
            <img src="{% static 'images/logoEPIS.png' %}" alt="imagen" class="top-image-right"></img>
            <img src="{% static 'images/ucsm_logo_blanco.webp' %}" class="top-image-left"></img>
            <img src="{% static 'images/logo_jinis2024.webp' %}" alt="imagen" class="top-image2"></img>
            <img src="{% static 'images/usuario.png' %}" alt="Imagen" class="top-image">
            <div class="greeting">{{nombre}}</div>
        </div>
        <div class="middle-section-scroll">
            <div class="middle-section">
                <div class="QR-code">
                    <img src="{% static participante_qrcode_path %}" alt="QR Code">
                </div>
                <div class="attendance-group">
                    <div class="attendance-text">CANTIDAD DE ASISTENCIAS</div>
                    <div class="attendance-count">{{cantidad_asistencia}}</div>
                </div>
                <div class="attendance-text">CODIGO</div>
                <div class="student-code">{{participante_data.codparticipante}}</div>            
            </div>
        </div>
        
        <div class="bottom-section">
            <div class="left-button">
                <a class="button profile-button">
                    <img src="{% static 'images/perfil.png' %}" alt="Perfil Icon">Perfil
                </a>
            </div>
            <div class="center-button">
                <a href="{% url 'Ponencias' participante_data.codparticipante  %}" class="button presentations-button">
                    <img src="{% static 'images/ponencias.png' %}" alt="Ponencias Icon">Ponencias
                </a>
            </div>
            <div class="right-button">
                <a href="{% url 'SalirParticipante' %}" class="button exit-button" href="#">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"  preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(15.000000,512.000000) scale(0.050000,-0.050000)" fill="#A52019" stroke="none"> <path d="M3380 10042 l0 -202 -780 0 -780 0 0 -3960 0 -3960 290 0 290 0 5 3675 5 3675 480 0 480 0 5 -4017 5 -4017 48 12 c27 7 326 62 665 123 340 61 991 177 1447 259 457 82 1006 181 1220 219 215 39 397 71 405 71 8 0 15 1717 15 3817 l0 3816 -415 75 c-439 79 -1359 245 -2565 462 -401 73 -750 137 -775 143 -44 11 -45 9 -45 -191z m812 -4052 c92 -59 141 -288 86 -396 -110 -214 -325 -205 -409 15 -99 261 116 515 323 381z"/></g>
                    </svg>
                    Salir
                </a>
            </div>
        </div>
    </div>
</body>
</html>