/* General styling */
body {
    font-family: Arial, sans-serif; /* Cambia la fuente principal */
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Top section */
.top-section {
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: flex-end;
    padding: 120px 20px;
    background: linear-gradient(180deg, #0A9EDC, #9EE7FF); /* Gradient color */
    text-align: center; /* Centrar texto dentro del div */
    border-bottom-left-radius: 30px; /* Esquina inferior izquierda redondeada */
    border-bottom-right-radius: 30px; /* Esquina inferior derecha redondeada */
    color: #000000; /* Color de texto */
    position: relative; /* Posicionamiento relativo para elementos hijos */
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
    min-height: 200px; /* Altura mínima para asegurar espacio */
    padding-bottom: 20px;
}

.greeting {
    font-size: 24px;
    font-weight: medium;
    font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
    align-self: flex-end;
    position: relative;
    z-index: 2;
}

.top-image {
    position: absolute; /* Posicionamiento absoluto para la imagen */
    top: 180px; /* Alinear la imagen en la parte superior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura automática según el ancho */
    z-index: 1; /* Asegura que la imagen esté por encima del texto */
    border-radius: 50%; /* Redondea la imagen */
    max-width: 100%; /* Ancho máximo igual al contenedor */
    height: auto; /* Altura automática según el ancho */
}

.top-image2 {
    position: absolute; /* Posicionamiento absoluto para la imagen */
    top: 90px; /* Alinear la imagen en la parte superior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 225px; /* Ancho de la imagen */
    height: 100px; /* Altura automática según el ancho */
    z-index: 1; /* Asegura que la imagen esté por encima del texto */
    max-width: 100%; /* Ancho máximo igual al contenedor */
    height: auto; /* Altura automática según el ancho */
}

.top-image-left {
    position: absolute; /* Posicionamiento absoluto para la imagen */
    top: 5px; /* Alinear la imagen en la parte superior */
    left: 0%; /* Centrar horizontalmente */
    max-width: 100%; /* Ancho máximo igual al contenedor */
    height: 20%; /* Altura automática según el ancho */
    margin-top: .5rem;
}

.top-image-right {
    padding-right: 10px;
    position: absolute; /* Posicionamiento absoluto para la imagen */
    top: 8px; /* Alinear la imagen en la parte superior */
    right: 0%; /* Centrar horizontalmente */
    max-width: 100%; /* Ancho máximo igual al contenedor */
    height: 15%; /* Altura automática según el ancho */
    margin-top: .5rem;
}

/* Middle section */
.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.attendance-count {
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
    font-weight: commissioner;
    margin-bottom: 40px;
    padding: 10px; /* Espaciado interno */
    border-radius: 30px; /* Esquina redondeada */
    background-color: #f0f0f0; /* Color de fondo del rectángulo */
    width: 70%; /* Ajusta el ancho según sea necesario */
    max-width: 300px; /* Opcional: límite de ancho máximo */
}

.attendance-text {
    text-align: left;
    font-size: 16px;
    font-weight: thin;
    padding: 10px; /* Espaciado interno */
    background-color: #ffffff00; /* Color de fondo transparente */
    width: 70%; /* Ajusta el ancho según sea necesario */
    max-width: 300px; /* Opcional: límite de ancho máximo */
    margin-bottom: 10px; /* Espacio inferior entre elementos */
}

.student-code {
    text-align: left;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 10px; /* Espaciado interno */
    border-radius: 30px; /* Esquina redondeada */
    background-color: #f0f0f0; /* Color de fondo del rectángulo */
    width: 70%; /* Ajusta el ancho según sea necesario */
    max-width: 300px; /* Opcional: límite de ancho máximo */
     
}

/* QR Code section */
.QR-code {
    display: flex;
    justify-content: center;
    margin-top: 200px; /* Espacio superior */
    margin-bottom: 20px;
    background-color: black;
}

.QR-code img {
    width: 300px; /* Ancho del QR Code */
    height: 300px; /* Altura del QR Code */
}

/* Bottom section */
.bottom-section {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 12%; /* Altura del área inferior */
    position: fixed; /* Fija la posición al fondo de la pantalla */
    bottom: 0; /* Posiciona en la parte inferior */
    border-top: 1px solid #ccc; /* Línea superior */
    align-items: center; /* Centra verticalmente los elementos */
    padding-right: 10px 20px /* Espaciado interno */

}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button,
.presentations-button,
.exit-button {
    background-color: transparent;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button img,
.presentations-button img,
.exit-button img {
    width: 20px; /* Ajusta el tamaño del icono según sea necesario */
    height: 20px; /* Altura del icono */
    margin-bottom: 5px; /* Espacio entre el icono y el texto */
}

.left-button,
.center-button,
.right-button {
    width: 30%; /* Ancho para cada botón */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.center-button {
    justify-content: center; /* Asegura centrado horizontal */
}

.right-button {
    justify-content: flex-end; /* Alinea a la derecha */
    margin-right: .6rem;
}

/* Icon styling */
.button img {
    width: 50px; /* Tamaño del icono */
    height: 50px; /* Tamaño del icono */
    margin-right: 5px; /* Espacio a la derecha del icono */
}
